footer {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 0.85rem;
    color: var(--text-muted);
    background-color: var(--bg-primary);
    margin-left: calc(100% / 32 * 7);
    width: calc(100% / 32 * 25);
}

footer a,
footer a:visited {
    color: var(--text-link);
    text-decoration: none;
}

footer a:hover {
    color: var(--text-body);
}
